@import url(chrome://browser/skin/browser-nonLinux.css);

#navigator-toolbox:not([inFullscreen])[tabsontop=true] > #toolbar-menubar[autohide=true] ~ #TabsToolbar {
  margin-right: 66px;
  margin-left: 49px;
}

@media (-moz-os-version: windows-win10) {
  /* Account for Win10's large caption buttons */
  #main-window[sizemode="normal"] #navigator-toolbox:not([inFullscreen])[tabsontop=true] > #toolbar-menubar[autohide=true] ~ #TabsToolbar {
    margin-right: 140px !important;
  }
}

@media not all and (-moz-windows-classic) {
  #main-window[sizemode=maximized] #titlebar-buttonbox {
    margin-top: 3px;
  }

  #main-window[chromemargin^="0"][sizemode=normal] #titlebar > #titlebar-content > #appmenu-button-container {
    margin-top: 0;
  }
}

@media (-moz-windows-compositor) {
  #main-window[sizemode=normal] #appmenu-button {
    margin-top: 2px;
  }

  #main-window[chromemargin^="0"][sizemode=normal] #titlebar-buttonbox-container {
    margin-top: 1px;
  }

  #main-window[sizemode=maximized] #titlebar-buttonbox {
    margin: -2px 3px -19px 0;
  }

#main-window[chromemargin^="0"][sizemode=normal] #titlebar:-moz-lwtheme {
    border-top: 2px solid;
    -moz-border-top-colors: rgb(37,44,51) rgba(255,255,255,.6);
  }

  #main-window[chromemargin^="0"][sizemode=normal] #titlebar:-moz-lwtheme:-moz-window-inactive {
    -moz-border-top-colors: rgb(102,102,102) rgba(255,255,255,.6);
  }

  #main-window[sizemode=normal] #window-frame-top-left-inner:-moz-lwtheme {
    border-top: 2px solid;
    border-left: 2px solid;
    -moz-border-top-colors: rgb(37,44,51) rgba(255,255,255,.6);
    -moz-border-left-colors: rgb(37,44,51) rgba(255,255,255,.6);
  }

  #main-window[sizemode=normal] #window-frame-top-left-inner:-moz-lwtheme:-moz-window-inactive {
    -moz-border-top-colors: rgb(102,102,102) rgba(255,255,255,.6);
    -moz-border-left-colors: rgb(102,102,102) rgba(255,255,255,.6);
  }

  #main-window[sizemode=normal] #window-frame-left-inner:-moz-lwtheme {
    border-left: 2px solid;
    -moz-border-left-colors: rgb(37,44,51) rgba(255,255,255,.6);
  }

  #main-window[sizemode=normal] #window-frame-left-inner:-moz-lwtheme:-moz-window-inactive {
    -moz-border-left-colors: rgb(102,102,102) rgba(255,255,255,.6);
  }

  #main-window[sizemode=normal] #window-frame-top-right-inner:-moz-lwtheme {
    border-top: 2px solid;
    border-right: 2px solid;
    -moz-border-top-colors: rgb(37,44,51) rgba(255,255,255,.6);
    -moz-border-right-colors: rgb(37,44,51) rgba(255,255,255,.6);
  }

  #main-window[sizemode=normal] #window-frame-top-right-inner:-moz-lwtheme:-moz-window-inactive {
    -moz-border-top-colors: rgb(102,102,102) rgba(255,255,255,.6);
    -moz-border-right-colors: rgb(102,102,102) rgba(255,255,255,.6);
  }

  #main-window[sizemode=normal] #window-frame-right-inner:-moz-lwtheme {
    border-right: 2px solid;
    -moz-border-right-colors: rgb(37,44,51) rgba(255,255,255,.6);
  }

  #main-window[sizemode=normal] #window-frame-right-inner:-moz-lwtheme:-moz-window-inactive {
    -moz-border-right-colors: rgb(102,102,102) rgba(255,255,255,.6);
  }

  #main-window[sizemode=normal] #window-frame-bottom-inner:-moz-lwtheme {
    border: 2px solid;
    border-top: 0;
    -moz-border-left-colors: rgb(37,44,51) rgba(255,255,255,.6);
    -moz-border-right-colors: rgb(37,44,51) rgba(255,255,255,.6);
    -moz-border-bottom-colors: rgb(37,44,51) rgba(255,255,255,.6);
  }

  #main-window[sizemode=normal] #window-frame-bottom-inner:-moz-lwtheme:-moz-window-inactive {
    -moz-border-left-colors: rgb(102,102,102) rgba(255,255,255,.6);
    -moz-border-right-colors: rgb(102,102,102) rgba(255,255,255,.6);
    -moz-border-bottom-colors: rgb(102,102,102) rgba(255,255,255,.6);
  }
}

#main-window[sizemode=normal] #navigator-toolbox[tabsontop=true] > #toolbar-menubar[autohide=true] ~ #TabsToolbar:not([inFullscreen]) {
  margin-top: -21px;
}