@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#SignonViewerDialog {
  background: url(chrome://global/skin/icons/dialog-background.png) -20px 0 repeat-y #dadce4;
}

.contentPane {
  margin: 9px 8px 5px;
}

#signonsTree {
  margin: 2px -8px;
  border-right: 0;
  border-left: 0;
}

#SignonViewerDialog > hbox {
  border-top: 2px groove #d4d0c8;
  background: url(chrome://browser/skin/icons/Tool-background2.png) top left repeat-x #adaebb;
}

.actionButtons {
  margin: 5px 0;
}