@import url(chrome://os_special/skin/preferences.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

prefwindow {
  padding: 0;
  background: url(chrome://global/skin/icons/dialog-background.png) repeat-y #dadce4;
}

prefpane {
  padding: 8px 10px;
}

prefwindow[type=child] {
  min-height: 0;
  padding: 8px 10px;
}

prefwindow[type=child] > prefpane {
  padding: 0;
}

.prefWindow-dlgbuttons {
  padding: 0 5px;
  border-top: 2px groove #d4d0c8;
  background: url(chrome://browser/skin/icons/Tool-background2.png) top left repeat-x #adaebb;
}

prefwindow[type=child] .prefWindow-dlgbuttons {
  margin: 2px -10px -8px;
}

.paneSelector {
  color: #5a5a5a;
  margin: 0;
  padding: 0 8px;
  border-bottom: 2px groove #d4d0c8;
  background-image: url(chrome://browser/skin/icons/Tool-background2.png);
}

radio[pane] {
  color: #000;
  min-width: 90px;
  margin: 1px;
  padding: 0 3px;
  border: 2px solid transparent;
  border-radius: 5px;
}

radio[pane]:hover {
  -moz-border-top-colors: #808080 #fff;
  -moz-border-right-colors: #808080 #02a1fe;
  -moz-border-bottom-colors: #808080 #02a1fe;
  -moz-border-left-colors: #808080 #fff;
  background: transparent url(chrome://global/skin/button/hover.png) repeat-x top left;
}

radio[pane][selected=true] {
  -moz-border-top-colors: #808080 #fff;
  -moz-border-right-colors: #808080 #02a1fe;
  -moz-border-bottom-colors: #808080 #02a1fe;
  -moz-border-left-colors: #808080 #fff;
  background: transparent url(chrome://global/skin/button/select.png) repeat-x top left;
}

.paneButtonIcon {
  width: 32px;
  height: 32px;
}

#JavascriptOptions {
  min-height: 13em;
}

#SignonViewerDialogPane {
  padding: 8px 0 0;
}

#SignonViewerExceptionDialog .prefWindow-dlgbuttons {
  display: none;
}