@import url(chrome://global/skin/);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

.alertBox {
  min-height: 50px;
  padding: 5px;
  border: 1px solid #2929cd;
  background: url(chrome://browser/skin/icons/Tool-background2.png) top left repeat-x #adaebb;
}

.alertImageBox {
  margin-left: 4px;
  margin-right: 6px;
  min-height: 46px;
}

#alertImage {
  list-style-image: url(chrome://branding/content/icon48.png);
}

.alertTitle {
  font-weight: bold;
}

.alertText {
  margin-right: 6px;
}

#alertNotification[clickable=true] {
  cursor: pointer;
}

label {
  cursor: inherit;
}

.alertText[clickable=true] {
  cursor: pointer;
  color: #1455d6;
}

.alertText[clickable=true]:hover:active {
  color: #424f63;
}

.alertTextBox {
  padding-right: 10px;
  padding-top: 5px;
}

.alertCloseButton {
  padding: 0 0 4px 2px;
  list-style-image: url(chrome://global/skin/icons/close.png);
  -moz-image-region: rect(0 16px 16px 0);
  border: 0;
  background: none;
}

.alertCloseButton:hover {
  -moz-image-region: rect(0 32px 16px 16px);
}

.alertCloseButton:hover:active {
  -moz-image-region: rect(0 48px 16px 32px);
}

.alertCloseButton > .toolbarbutton-text {
  display: none;
}