:root {
  font-size: 75%;
}

#scrollbox,
#newtab-scrollbox {
  padding-bottom: 18px;
  background: linear-gradient(to right,#9fa2ae,#d9dbe3 80px,#dadce4);
}

#body {
  font-family: sans-serif;
  padding-top: 106px;
}

#toolbar {
  top: 8px;
  right: 8px;
  width: 13px;
  height: 30px;
}

.button {
  padding: 0;
  border: 0;
}

.toolbar-button {
  background: transparent url(toolbar.png);
}

#toolbar-button-show {
  width: 11px;
  height: 11px;
  background-position: -10px 0;
}

#toolbar-button-show:hover {
  background-position: -10px -12px;
}

#toolbar-button-show:active {
  background-position: -10px -24px;
}

#toolbar-button-hide {
  width: 10px;
  height: 10px;
}

#toolbar-button-reset {
  top: 17px;
  width: 11px;
  height: 12px;
}

#toolbar-button-reset {
  background-position: -21px 0;
}

#toolbar-button-reset:hover {
  background-position: -21px -12px;
}

#toolbar-button-reset:active {
  background-position: -21px -24px;
}

#newtab-undo-container {
  color: #525e69;
  padding: 4px 3px;
  border: 1px solid;
  border-color: rgba(8,22,37,.12) rgba(8,22,37,.14) rgba(8,22,37,.16);
  background-color: rgba(255,255,255,.4);
}

#newtab-undo-label {
  margin-top: 0;
  margin-bottom: 0;
}

.newtab-undo-button {
  color: #1f9afd;
  cursor: pointer;
  text-decoration: none;
  min-width: 0;
  margin: 0 4px;
  padding: 0;
  border: 0;
  background: transparent;
}

.newtab-undo-button:hover {
  color: #00f;
}

.newtab-undo-button > .button-box {
  padding: 0;
}

#newtab-undo-close-button {
  -moz-user-focus: normal;
  padding: 0;
  border: 0;
  list-style-image: url(chrome://global/skin/icons/close.png);
  -moz-image-region: rect(0 16px 16px 0);
}

#newtab-undo-close-button:hover {
  -moz-image-region: rect(0 32px 16px 16px);
}

#newtab-undo-close-button:hover:active {
  -moz-image-region: rect(0 48px 16px 32px);
}

#newtab-undo-close-button > .toolbarbutton-text {
  display: none;
}

#newtab-toggle {
  -moz-appearance: none;
  width: 11px;
  height: 11px;
  padding: 0;
  border: 0;
  background: transparent url(toolbar.png) -10px 0;
}

#toolbar-button-hide:hover,
#newtab-toggle:hover {
  background-position: -10px -12px;
}

#toolbar-button-hide:active,
#newtab-toggle:active {
  background-position: -10px -24px;
}

#grid {
  margin: 0 auto;
  padding: 1px;
}

.site {
  background-color: #eee;
  transition: 200ms ease-out;
  transition-property: box-shadow, opacity;
}

.site[dragged] {
  transition-property: box-shadow;
}

.site[ontop] {
  box-shadow: 0 1px 4px #1f9afd;
  outline: none;
}

.newtab-row {
  margin-bottom: 20px;
}

.newtab-row:last-child {
  margin-bottom: 0;
}

.newtab-cell {
  margin-right: 20px;
}

.newtab-cell:last-child {
  margin-right: 0;
}

.newtab-cell:empty {
  border: 1px solid #808080;
  background-color: #eee;
  box-shadow: 0 1px 4px #444;
  box-shadow: 0 1px 4px #444;
}

.newtab-site {
  box-shadow: 0 1px 4px #444;
  background-color: #eee;
  transition: 200ms ease-out;
  transition-property: box-shadow, opacity;
}

.newtab-site:hover,.newtab-site[dragged] {
  box-shadow: 0 1px 4px #1f9afd, 0 0 8px #1f9afd;
}

.newtab-thumbnail {
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-title {
  width: 189px;
}

.site-title,
.newtab-title {
  font-weight: 700;
  height: 2.4em;
  color: #fff;
  text-shadow: 0 2px 3px #222;
  padding: 0 6px;
  background-color: rgba(0,0,0,.5);
}

.site-strip {
  padding: 4px 3px;
  height: 24px;
}

.strip-button,
.newtab-control {
  width: 24px;
  height: 24px;
  border: 0;
  background-color: transparent;
  transition: opacity 200ms ease-out;
}

.strip-button-pin,
.newtab-control-pin {
  background-image: -moz-image-rect(url(icon-pin.png),0,24,24,0);
}
.strip-button-pin:hover,
.newtab-control-pin:hover {
  background-image: -moz-image-rect(url(icon-pin.png),0,48,24,24);
}
.strip-button-pin:hover:active,
.newtab-control-pin:hover:active {
  background-image: -moz-image-rect(url(icon-pin.png),0,72,24,48);
}
.site[pinned] .strip-button-pin,
.newtab-control-pin[pinned] {
  background-image: -moz-image-rect(url(icon-pin.png),0,96,24,72);
}
.site[pinned] .strip-button-pin:hover,
.newtab-control-pin[pinned]:hover {
  background-image: -moz-image-rect(url(icon-pin.png),0,120,24,96);
}
.site[pinned] .strip-button-pin:hover:active,
.newtab-control-pin[pinned]:hover:active {
  background-image: -moz-image-rect(url(icon-pin.png),0,144,24,120);
}

.strip-button-block,
.newtab-control-block {
  background-image: -moz-image-rect(url(icon-close.png),0,24,24,0);
}
.strip-button-block:hover,
.newtab-control-block:hover {
  background-image: -moz-image-rect(url(icon-close.png),0,48,24,24);
}
.strip-button-block:hover:active,
.newtab-control-block:hover:active {
  background-image: -moz-image-rect(url(icon-close.png),0,72,24,48);
}