@import url(chrome://global/skin/inContentUI.css);

:root {
  height: 100%;
  width: 100%;
  padding: 0;
}

body {
  margin: 0;
  padding: 0 2em;
}

#floatingBox {
  position: relative;
  text-align: center;
  max-width: 40em;
  min-width: 23em;
  margin: 4em auto;
  padding: 1em 1.5em;
}

#successLogo {
  margin: 1em 2em;
}

#loadingText {
  margin: 2em 6em;
}

#progressBar {
  margin: 2em 10em;
}

#uploadProgressBar{
  width: 100%;
}

#bottomRow {
  text-align: end;
  margin-top: 2em;
  padding: 0;
}