@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

notification {
  color: #000;
  min-height: 28px !important;
  text-shadow: none;
  background: #ff8 url(chrome://global/skin/icons/NotificationGradient.png) top repeat-x;
}

notification[type=info] {
  background-color: #cadce4;
}

notification[type=critical] {
  color: #fff;
  background-color: #f00;
}

.notification-inner {
  border: 0 !important;
  border-top: 1px solid #808080 !important;
}

.messageImage {
  width: 16px;
  height: 16px;
  margin: 0 1px 0 5px;
}

notification[type=info] .messageImage {
  list-style-image: url(chrome://global/skin/CuteMenus/info.png);
}

notification[type=warning] .messageImage {
  list-style-image: url(chrome://global/skin/icons/warning-16.png);
}

notification[type=critical] .messageImage {
  list-style-image: url(chrome://global/skin/CuteMenus/stop.png);
}

notification[value=password-save] .messageImage {
  background-image: url(chrome://browser/skin/icons/lock-secure.png);
}

.popup-notification-body,
.popup-notification-description {
  max-width: 30em;
}

.popup-notification-learnmore-link {
  margin-top: .5em !important;
}

.popup-notification-learnmore-link:not([href]) {
  display: none;
}

.popup-notification-origin:not([value]),
.popup-notification-originHost:not([value]),
.popup-notification-learnmore-link:not([href]) {
  display: none;
}

.popup-notification-origin,
.popup-notification-originHost {
  margin-bottom: .3em !important;
}

.popup-notification-menubutton > menupopup menuitem {
  -moz-binding: url(chrome://global/content/bindings/menu.xml#menuitem-iconic);
  min-width: 110px;
}

.messageCloseButton {
  padding: 4px 2px;
  border: 0 !important;
}

.messageCloseButton:not(:hover):not(:active) {
  -moz-image-region: rect(0 64px 16px 48px);
}

.popup-notification-closebutton {
  margin: -8px -8px 0 0;
}

.popup-notification-button-container {
  -moz-box-pack: end
}

.popup-notification-button-container > .popup-notification-button {
  min-width: 80px;
  padding: 2px 6px;
}

.popup-notification-button-container > .popup-notification-button[default] {
  list-style-image: url(chrome://global/skin/CuteMenus/accept.png);
}

.popup-notification-button-container > .popup-notification-button[anonid=secondarybutton] {
  list-style-image:url(chrome://global/skin/icons/Close.png);
  -moz-image-region: rect(0 16px 16px 0);
}

#addon-install-restart-notification .popup-notification-button-container > .popup-notification-button {
  list-style-image: url(chrome://global/skin/CuteMenus/reload.png);
}

.popup-notification-button-container > .popup-notification-button[default] {
  order: -1;
}

.popup-notification-button-container > toolbarseparator {
  display: none;
}

.popup-notification-button-container > .popup-notification-dropmarker {
  min-width: 0;
  margin-left: -8px;
  padding: 2px 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}