body {
  min-width: 330px;
  max-width: 100%;
  min-height: 330px;
  max-height: 100%;
}

.warningBackground {
  display: none;
  z-index:10;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: url(chrome://browser/skin/icons/box-background.png) repeat-x bottom fixed #cdced3;
}

.warningMessage {
  position: relative;
  min-width: 330px;
  max-width: 50em;
  text-align: center;
  color: #000;
  margin: 4em auto;
  padding: 3em 3em 3em 30px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #404040;
}

.tab {
  display: none;
}

.active {
  display: block;
}

#menu {
  position: absolute;
  top: 5px;
}

#menu .selected {
  -moz-border-top-colors: #ccc #444;
  -moz-border-right-colors: #ccc #444;
  -moz-border-bottom-colors: #ccc #444;
  -moz-border-left-colors: #ccc #444;
  background: url(chrome://global/skin/button/body-active.png) repeat-x top left #c5ebf9;
}

#refreshdiv {
  position: absolute;
  top: 5px;
  right: 30px;
}

table {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #f0f0f0;
}

th, td {
  padding: 3px;
}

thead th {
  text-align: center;
}

th {
  text-align: start;
  color: #fff;
  border: 0;
  border-top: 1px solid #000;
  background: #1f9afd;
}

th.column {
  white-space: nowrap;
  width: 0;
}

td {
  text-align: start;
  border: 0;
  border-top: 1px dotted #808080;
}

th + th,
td + td {
  border-left: 1px dotted #808080;
}